#edit-btn{
    background-color: #eb9c64;
}
#delete-btn{
    background-color: #ff8789;
}
#add-button{
    background-color: #346145 !important;
}

.phone-image{
height: 80px;
width: 80px;
border-radius: 50%;
}