#edit-btn{
    background-color: #728f9e;
    color: white;
    border-radius: 2px;
}
#edit-btn:hover{
    background-color: #263339;
    color: white;
}
#delete-btn{
    background-color: #e1262a;
    color: white;
    border-radius: 2px;

}
#delete-btn:hover{
    background-color: #ff0004;
    color: white;
}
#add-button{
    background-color: #26A69A !important;

}
#add-button:hover{
    background-color: #80CBC4 !important;
}

.phone-image{
height: 80px;
width: 80px;
border-radius: 50%;
}

.head-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.manage-body{
    font-weight: 600;
    font-size: larger;
}

.search-by-category{
    width: 200px;
}
.actual-search{
    width: 140px;
}