@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Syne:wght@500&display=swap');

.pro-main{
  /* font-family: 'Catamaran', sans-serif; */
  /* font-family: 'Syne', sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.circle-image {
  width: 200px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .circle-image {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .circle-image {
    width: 60px;
    height: 60px;
  }

  .pro-main{
    margin-top: 5em !important;
  }
}

.profile-edit-button {
  background-color: #26A69A;

}
.profile-edit-button:hover{
  background-color: #68b6ae;

}
.profile-editables {
  font-size: 22px;
}