/* .active-link{
    background-color: darkblue;
    color: whitesmoke;

}

#main-side{
    height: 140vw;
}
@media (max-width:575px){
    #main-side{
        height: 100%;
    }
} */

/* 

.sidebar {
  color: black;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight:500;
  display: block;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color:goldenrod;
}

.sidebar ul li a.active-link {
  font-weight: bold;
  color: darkcyan; 
} */


.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-item {
    margin: 0 5px;
  }
  .myback{
    background-color: #88C63E;

  }
  .page-link {
    padding: 10px;
    background-color: #fff;
    color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .page-item.previous,
  .page-item.next {
    display: none;
  }
  /* 
  .page-item.previous .page-link,
  .page-item.next .page-link {
    font-weight: bold;
  } */
  
  .active {
    /* background-color: lightgrey; */
    color: white;
    /* padding: .3em 2em;
    border-radius: 4px; */
  }
  
  .page-link:hover {
    background-color: lightgray;
    color: #fff;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* #main-table{
    display: block;
    overflow: auto;
  } */
  