.active-link {
  background-color: black !important;
  color: whitesmoke;

}

#main-side {
  height: 140vw;
}

@media (max-width:575px) {
  #main-side {
    height: 100%;
  }
}



.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.myback {
  /* background: #f5f5f5; */
  background: #263339;
  border-right: .1em solid white;
  font-family: 'Syne', sans-serif;
  color: aquamarine !important;
}

.page-link {
  padding: 10px;
  background-color: #fff;
  color: white !important;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.page-item.previous,
.page-item.next {
  display: none;
}

.inactivee {
  color: #fff;
  text-decoration: none;
font-size: large;

}
.inactivee:hover {
  background-color: lightgrey;
  text-decoration: none;
  padding: .2em 2em;
    border-radius: 4px;
}


.active {
  color: #263339;
  text-decoration: none;
  background-color: lightgray;
  padding: .2em 2em;
  border-radius: 4px;
}

/* 
  .page-item.previous .page-link,
  .page-item.next .page-link {
    font-weight: bold;
  } */



.page-link:hover {
  background-color: lightgray;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* #main-table{
    display: block;
    overflow: auto;
  } */

/* =================new================ */

.sidebar-link{
  color: white !important;
}

#main-side {
  height: 90vh !important;
  margin-top: 4em;
}




@media (max-width:575px) {
  #main-side {
    height: 10% !important;
    /* background-color: #88C63E !important; */
  }
}